@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Anmeldung zum COVID-19 Schnelltest</h1>
    <p>Hier können Sie sich für einen freiwilligen und kostenlosen Corona Schnelltest anmelden.</p>
    <h2>Anmeldung</h2>
    <div>
        <div class="form-row">
            <div class="col">
                <a type="button" class="btn btn-primary" asp-page="/NewRegistration">Neuanmeldung zum Schnelltest</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-secondary" asp-page="/Security/Verification">Anmeldung (bestehender Benutzer)</a>
            </div>
        </div>
    </div>
</div>
