@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Anmeldung zum COVID-19 Schnelltest</h1>
    <p>Hier können Sie sich für einen freiwilligen und kostenlosen Corona Schnelltest anmelden.</p>
</div>
<h2>Anmeldung</h2>
<div>
    <a type="button" class="btn btn-primary" asp-page="/Registration">Neuanmeldung zum Schnelltest</a>
    <a type="button" class="btn btn-success" asp-page="/Security/Login">Anmeldung (bestehender Benutzer)</a>
</div>
